.custom-card .ant-card {
  border: 2px solid #dbdbdb;
  border-radius: 4px;
}
.custom-nav .ant-menu {
  border-right: none;
}
.menu-bar-bottom-logo {
  position: absolute;
  bottom: 0;
  display: flex;
}
